.Top {
  position: relative;
  text-align: center;
}

.Image {
  background-image: url("../../img/Notes.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 75vh;
  background-position: bottom center;
  filter: brightness(50%);
}

.Header {
  text-align: left;
  left: 5rem;
  color: snow;
  font-size: 5rem;
  font-family: "Merriweather", serif;
  letter-spacing: 2px;
  opacity: 0.9;
  position: absolute;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Image {
    background-image: url("../../img/small.jpg");
    background-position: top center;
  }
  .Header {
    font-size: 2.5rem;
    letter-spacing: 3px;
    top: 13rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
  .Header {
    font-size: 3.7rem;
    margin-top: 9rem;
    top: 19rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Header {
    font-size: 4.3rem;
    margin-top: 9.5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Header {
    font-size: 4.6rem;
    margin-top: 8.5rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Header {
    font-size: 4.9rem;
    margin-top: 8rem;
  }
}
